<header
    *ngVariable="scrolled"
    class="flex flex-wrap flex-row justify-between space-x-4 bg-neutral-100 px-6 md:space-x-4 sticky top-0 z-50 transition-colors duration-500 backdrop-blur dark:bg-neutral-900 border-b border-solid border-gray-50/[0.06]"
    [ngClass]="scrolled ? 'dark:bg-gray-900/75 bg-white/75' : ''"
>
    <a href="" class="block uppercase py-6 dark:text-primary-100">
        prettycite
    </a>

    <button
        *ngVariable="isActive$ | async as isActive"
        class="md:hidden w-8 h-8 rounded-lg text-neutral-600 dark:text-neutral-200 my-5 focus:outline-none focus:ring-2 focus:ring-primary-600 flex bg-transparent p-0"
        (click)="toggleNavigation()"
        [ngClass]="isActive ? 'opened' : ''"
    >
        <svg
            viewBox="0 0 100 100"
            height="35"
            width="35"
            class="stroke-neutral-200"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fillRule="evenodd"
                clipRule="evenodd"
                class="line line1"
                d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
            />
            <path
                fillRule="evenodd"
                clipRule="evenodd"
                class="line line2"
                d="M 20,50 H 80"
            />
            <path
                fillRule="evenodd"
                clipRule="evenodd"
                class="line line3"
                d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
            />
        </svg>
    </button>
    <nav
        *ngVariable="isActive$ | async as isActive"
        class="uppercase md:relative md:flex flex-col md:flex-row md:space-x-5 md:items-center font-semibold text-sm w-full md:w-auto space-y-3 md:space-y-0 md:bg-transparent pb-3 md:pb-0"
        [ngClass]="isActive ? '' : 'hidden'"
    >
        <a
            href="/search"
            class="block text-neutral-600 dark:text-neutral-300 p-4 hover:text-primary-500"
            >Home</a
        >
        <a
            href="/lets-begin"
            class="block text-neutral-600 dark:text-neutral-300 p-4 hover:text-primary-500"
            >Let's begin</a
        >
        <a
            href="/about"
            class="block text-neutral-600 dark:text-neutral-300 p-4 hover:text-primary-500"
            >About</a
        >
        <a
            href="/contact"
            class="block text-neutral-600 dark:text-neutral-300 p-4 hover:text-primary-500"
            >Contact me</a
        >
        <a
            href="https://github.com/lucastanger/prettycite"
            class="text-neutral-600 dark:text-neutral-300 pl-5 hover:text-primary-500 md:border-l border-solid border-gray-50/5"
            target="_blank"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
            >
                <path
                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                />
            </svg>
        </a>
        <a
            class="block text-neutral-600 dark:text-neutral-300 pl-1 hover:text-primary-500 cursor-pointer"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
            >
                <path
                    d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.292 4.113-9.612 9.315-9.965-3.205 2.154-5.315 5.813-5.315 9.965s2.11 7.811 5.315 9.965c-5.202-.353-9.315-4.673-9.315-9.965z"
                />
            </svg>
        </a>
    </nav>
</header>
