<div class="absolute bottom-0 w-full text-sm flex justify-center">
    <a
        href="https://github.com/lucastanger/prettycite"
        target="_blank"
        rel="noreferrer"
        class="text-indigo-400"
        >prettycite&nbsp;</a
    >
    created with&nbsp;<span class="text-indigo-900">&hearts;</span>&nbsp;by
    <a
        href="https://github.com/lucastanger"
        target="_blank"
        rel="noreferrer"
        class="text-indigo-400"
        >&nbsp;lucastanger</a
    >
</div>
