<div class="relative h-96">
    <div
        class="
            absolute
            w-full
            h-full
            bg-black bg-opacity-60
            flex flex-col
            items-center
            justify-center
            text-gray-200 text-6xl
            md:text-8xl
            font-extrabold
            space-y-3
        "
    >
        <h3 class="text-2xl font-medium">citation. made easy.</h3>
        <h1>PRETTYCITE</h1>
        <h6 class="text-sm font-light">
            <a
                href="https://github.com/lucastanger/prettycite"
                target="_blank"
                rel="noreferrer"
                class="text-indigo-400"
                >prettycite&nbsp;</a
            >
            created with&nbsp;<span class="text-indigo-900">&hearts;</span
            >&nbsp;by
            <a
                href="https://github.com/lucastanger"
                target="_blank"
                rel="noreferrer"
                class="text-indigo-400"
                >&nbsp;lucastanger</a
            >
        </h6>
    </div>
    <img
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1520467795206-62e33627e6ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
        alt="image of a book"
    />
    <div class="absolute right-0 bottom-0">
        <a
            class="text-gray-50 text-sm opacity-20"
            href="https://unsplash.com/photos/MiJTU6lqksg"
            target="_blank"
            >image &copy; unsplash.com</a
        >
    </div>
</div>

<div class="w-3/4 mx-auto mt-20 max-w-lg space-y-5">
    <div class="flex items-center justify-center space-x-10 uppercase">
        <a class="underline text-indigo-800">url</a>
        <a class="">isbn</a>
        <a class="">title</a>
        <a class="">doi</a>
    </div>
    <div class="relative text-gray-700">
        <input
            class="
                w-full
                h-10
                pl-3
                pr-8
                text-base
                border
                rounded-lg
                focus:outline-none focus:ring-2 focus:ring-indigo-600
                placeholder-gray-300
            "
            type="text"
            placeholder="http://prettycite.vercel.app"
        />
        <div
            class="
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                pointer-events-none
                text-gray-400
                font-extralight
            "
        >
            ⌘ + V
        </div>
    </div>
</div>
