<div class="bg-neutral-100 dark:bg-neutral-900">
    <div class="relative h-96">
        <div
            class="absolute w-full h-full bg-black bg-opacity-60 flex flex-col items-center justify-center text-neutral-200 text-6xl md:text-8xl font-extrabold space-y-3"
        >
            <h3 class="text-2xl font-medium">citation. made easy.</h3>
            <h1>PRETTYCITE</h1>
        </div>
        <img
            class="w-full h-full object-cover from-current"
            src="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80"
            alt="image of a book"
        />
        <div
            class="w-full h-full absolute -bottom-1 right-0 z-10 bg-gradient-to-b from-transparent dark:to-neutral-900 to-neutral-100"
        ></div>
        <div class="absolute right-0 top-0">
            <a
                class="text-neutral-50 text-sm opacity-20"
                href="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80"
                target="_blank"
                >image &copy; unsplash.com</a
            >
        </div>
    </div>

    <div class="mx-auto mt-20 max-w-lg space-y-5">
        <div
            class="flex items-center justify-center space-x-10 uppercase"
            *ngIf="searchTypeObserver$ | async as searchType"
        >
            <a
                class="hover:cursor-pointer dark:text-primary-100"
                (click)="selectSearchMode('URL')"
                [ngClass]="
                    searchType === 'URL'
                        ? 'underline text-primary-800 dark:text-primary-400'
                        : ''
                "
                >url</a
            >
            <a
                class="hover:cursor-pointer dark:text-primary-100"
                (click)="selectSearchMode('ISBN')"
                [ngClass]="
                    searchType === 'ISBN'
                        ? 'underline text-primary-800 dark:text-primary-400'
                        : ''
                "
                >isbn</a
            >
            <a
                class="hover:cursor-pointer dark:text-primary-100"
                (click)="selectSearchMode('TITLE')"
                [ngClass]="
                    searchType === 'TITLE'
                        ? 'underline text-primary-800 dark:text-primary-400'
                        : ''
                "
                >title</a
            >
            <a
                class="hover:cursor-pointer dark:text-primary-100"
                (click)="selectSearchMode('DOI')"
                [ngClass]="
                    searchType === 'DOI'
                        ? 'underline text-primary-800 dark:text-primary-400'
                        : ''
                "
                >doi</a
            >
        </div>
        <div class="relative text-neutral-700">
            <input
                #search
                class="w-full h-10 pl-3 pr-8 text-base border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-600 placeholder-neutral-300 dark:bg-neutral-200 dark:placeholder-neutral-400"
                type="text"
                placeholder="{{ searchTypeExampleUrl }}"
            />
            <div
                class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none text-neutral-400 dark:text-primary-800 font-extralight"
            >
                ⌘ + V
            </div>
        </div>
    </div>
    <div class="mt-20 mx-auto">
        <app-results></app-results>
    </div>
</div>
