/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .GradientLockup_root__sBkgs{
    grid-template-columns: 1fr minmax(min-content,640px) 1fr;
  }

  @media (min-width: 1024px) {
    .GradientLockup_root__sBkgs {
      grid-template-columns: 2rem 1fr 59.375% 2rem;
      grid-template-rows: auto 2.25rem auto 2.25rem;
    }
  }
